body {
    margin: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator {
    font-family: Arial, sans-serif;
    
    /* display: flex;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-items: center;
    flex-direction: column; */
    
    max-width: 500px;

    background-color: #232323;
    width: 100%;

    overflow: hidden;

    border: solid 2px #2c2c2c;
    border-radius: 15px;
    box-shadow: 0 0 10px 3px #000000;
}

#display {
    text-align: left;
    font-size: 5rem;
    width: 70%;
    margin: 5px;
    padding: 20px;
    height: 5vh;
    border: solid 1px #0e0e0e;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    justify-self: center;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    padding: 5px;
    width: 100px;
    height: 100px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    border-radius: 50px;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.operator-btn {
    background-color: hsl(37, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(37, 100%, 50%);
}

.operator-btn:active {
    background-color: hsl(37, 100%, 60%);
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}